<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.login">

    <application>
        <activity android:name=".ForgetPasswordActivity"></activity>
        <activity android:name=".VerifyOtpActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>